<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
	<menu>
		<add id="Augustash_Core::aai_core" title="August Ash" module="Augustash_Core" sortOrder="12" resource="Augustash_Core::aai_core"/>
	</menu> 
</config>
